.line-clamp-2[data-v-e842bb57]{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}@media(max-width:768px){.relative[data-v-67c2587a]{margin:0 -1rem}input[data-v-67c2587a]{margin:0 1rem}}
