.line-clamp-2[data-v-e842bb57]{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}@media(max-width:768px){.bg-blue-50[data-v-3b24bf9e]{border-radius:0;margin:0 -1rem}}
