.line-clamp-2[data-v-5cd19253]{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}@media(max-width:768px){.bg-blue-50[data-v-07a7f177]{border-radius:0;margin:0 -1rem}}
